@font-face {
    font-family: Comfortaa;
    src: url('../../assets/fonts/Comfortaa-Medium.ttf') format('truetype');
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, -10px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 10px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(20px, 0);
    }

    100% {
        opacity: 1;
        transform: translateX(0, 0);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body {
    background: #1b1d22;
    overflow: hidden;
    font-family: Comfortaa;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: -20px 0 50px;
}

.titlebar {
    overflow: hidden;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 10px;
    background-color: rgba(43, 43, 43);
    height: 35px;
    width: 100%;
    flex: auto;
}

.titlebar-icons {
    margin-right: 8px !important;
    margin-top: 8px !important;

    display: flex !important;
    justify-content: flex-end;
}

.titlebar-exit {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 9px;
    -webkit-app-region: no-drag;
    filter: invert(26%) sepia(0%) saturate(393%) hue-rotate(183deg)
        brightness(93%) contrast(90%);
    display: block;
}

.titlebar-exit:hover {
    filter: invert(29%) sepia(93%) saturate(6374%) hue-rotate(353deg)
        brightness(92%) contrast(94%);
}

.titlebar-max {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 9px;
    -webkit-app-region: no-drag;
    filter: invert(26%) sepia(0%) saturate(393%) hue-rotate(183deg)
        brightness(93%) contrast(90%);
    display: block;
}

.titlebar-max:hover {
    filter: invert(80%) sepia(51%) saturate(2452%) hue-rotate(348deg)
        brightness(102%) contrast(110%);
}

.titlebar-min {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 9px;
    -webkit-app-region: no-drag;
    filter: invert(26%) sepia(0%) saturate(393%) hue-rotate(183deg)
        brightness(93%) contrast(90%);
    display: block;
}

.titlebar-min:hover {
    filter: invert(58%) sepia(76%) saturate(543%) hue-rotate(81deg)
        brightness(92%) contrast(97%);
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.homebox {
    position: absolute;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: calc(100% - 65px);
    width: calc(100% - 310px);
    margin-bottom: 5px;
    margin-left: 285px;
}

.secondorybox {
    position: absolute;

    display: none;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #202126;
    border-radius: 10px;

    height: calc(100% - 70px);
    width: calc(100% - 310px);
    margin-bottom: 5px;
    margin-left: 285px;
}

.secondorybox p {
    color: rgb(197, 197, 197);
    margin-left: 18px;
    margin-top: 18px;
    font-size: 20px;
}

.children {
    display: flex;
    height: 100%;
    width: 71%;
    overflow: hidden;
    margin: 5px;

    flex: 1;
    justify-content: center;
    align-items: center;
}

.children:last-child {
    position: relative;
    width: 27%;
    flex: 0 0 calc(100% - 10px);
}

.head-pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
    min-width: calc(100% - 900px);
    min-height: 100%;

    border-radius: 10px;
}

.jump-back {
    background-color: #202126;
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.jump-back p {
    color: rgb(197, 197, 197);
    margin-left: 18px;
    margin-top: 18px;
    font-size: 16px;
}

.online-friends {
    background-color: #202126;
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.online-friends p {
    color: rgb(197, 197, 197);
    margin-left: 18px;
    margin-top: 18px;
    font-size: 16px;
}

.leftbar {
    background-color: #202126;
    border-radius: 15px;
    position: absolute;
    height: calc(100% - 71px);
    max-height: 100%;
    width: 270px;
    top: 25px;
    margin-top: 30px;
    margin-right: 100%;
    margin-left: 300px;
    text-align: center;
}

.user-pfp {
    position: relative;
    margin-top: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.user-pfp input {
    display: none;
}

.user-pfp img {
    transition: border-radius 0.2s ease-in-out;
    border-radius: 18px;
    image-rendering: auto;
    object-fit: cover;
}

.user-pfp:hover img {
    transition: border-radius 0.2s ease-in-out;
    border-radius: 6px;
}

.user-pfp label {
    position: absolute;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.username {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 22px;
    font-family: Comfortaa;
    color: #b9b9b9;
    background-color: transparent;
    border: transparent;
    text-decoration: none;
}

.side-tabs {
    margin-left: 20px;
    position: absolute;
    height: calc(100% - 230px);
    overflow-y: auto;
}

.side-tab {
    background-color: rgba(30, 30, 34, 0.5);

    height: 40px;
    width: 230px;
    border-radius: 8px;

    display: flex;
    margin-bottom: 10px;
    transition: background-color 0.1s;
}

.side-tab:hover {
    cursor: pointer;
    background-color: rgb(121, 52, 250);
    transition: background-color 0.2s;
}

.side-tab img {
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg)
        brightness(108%) contrast(108%);
    margin-left: 25px;
    margin-top: 8px;
    margin-right: 5px;
    display: inline-block;
}

.side-tab .side-tab-text {
    color: #dadada;
    font-size: 18px;
    margin-left: 20px;
    padding-top: 12px;
}

.category-name {
    color: #7a7a7a;
    margin-left: 10px;
    margin-bottom: 4px;
    font-size: 15px;
}

#indicator {
    transition: 0.4s;
    position: absolute;
    margin-top: 4.2px;
    margin-left: 2px;

    background-color: rgb(121, 52, 250);
    height: 30px;
    width: 5px;
    border-radius: 2px;
    display: inline;
}

#gamesList {
    position: absolute;
    overflow-y: auto;
    width: 98%;
    height: 85%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}

.gamebox {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-right: 30px;
    margin-left: 20px;
}

.gamebox:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.gamebox img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
    border-radius: 12px;
    image-rendering: auto;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.gamebox img:hover {
    cursor: pointer;
}

.gamebox span {
    position: absolute;
    margin-top: -28px;
    margin-left: 10px;
    font-size: 16px;
    color: #d3d3d3;
    display: block;
}

.fadeInUp {
    animation-duration: 0.7s;
    animation-delay: 0.25s;
    animation-fill-mode: both;
    backface-visibility: hidden;
    opacity: 0;
    animation-name: fadeInUp;
}

.fadeInDown {
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    backface-visibility: hidden;
    opacity: 0;
    animation-name: fadeInDown;
}

.fadeInLeft {
    animation-duration: 0.7s;
    animation-delay: 0.25s;
    animation-fill-mode: both;
    backface-visibility: hidden;
    opacity: 0;
    animation-name: fadeInLeft;
}

.d-flex {
    display: flex !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-center {
    justify-content: center !important;
}

.pb-2 {
    padding-bottom: 0.4rem !important;
}

.pb-5 {
    padding-bottom: 2rem !important;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input,
button,
textarea,
img,
:focus {
    outline: none;
}

#loading-overlay {
    cursor: default !important;
    overflow: hidden;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    visibility: visible;
    opacity: 1;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: #202126;
}

.loading-spinner {
    animation: spinner 1s infinite linear;
    width: 36px;
}

.spinner-content {
    text-align: center;
    color: #dadada;
}
