::selection {
    color: black;
    background: skyblue;
}

@font-face {
    font-family: Comfortaa;
    src: url('../../fonts/Comfortaa-SemiBold.ttf') format('truetype');
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, -20px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 10px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #1b1d22;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Comfortaa;
    height: 100vh;
    margin: -20px 0 50px;
}

.titlebar {
    overflow: hidden;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 10px;
    height: 35px;
    width: 100%;
    flex: auto;
}

.titlebar-icons {
    margin-right: 6px !important;
    margin-top: 9px !important;

    display: flex !important;
    justify-content: flex-end;
}

.titlebar-exit {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    height: 19px;
    width: 19px;
    background-color: rgb(56, 56, 56);
    -webkit-app-region: no-drag;
    display: block;
}

.titlebar-exit:hover {
    background: #c80000 url("../../img/cross.png");
    background-size: cover;
}

.titlebar-max {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    height: 19px;
    width: 18px;
    background-color: rgb(56, 56, 56);
    -webkit-app-region: no-drag;
    display: block;
}

.titlebar-max:hover {
    background: #ffc400;
}

.titlebar-min {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    height: 19px;
    width: 19px;
    background-color: rgb(56, 56, 56);
    -webkit-app-region: no-drag;
    display: block;
}

.titlebar-min:hover {
    background: #22ff00;
}

h1 {
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    user-select: none;
    -webkit-user-select: none;
}

h2 {
    text-align: center;
}

p {
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    margin-left: 20px;
    margin-right: 20px;
    user-select: none;
    -webkit-user-select: none;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 15px;
    text-decoration: none;
    margin: 25px;
    margin-bottom: 11px;
    user-select: none;
    -webkit-user-select: none;
}

button {
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    background-color: #9f40ff;
    color: #ffffff;
    font-size: 14px;
    vertical-align: middle;
    padding: 11px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    font-weight: bolder;
    font-family: Comfortaa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
}

button:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

button.ghost {
    background-color: transparent;
    border-color: #ffffff;
    font-size: 14px;
}

button.ghost2 {
    margin-top: 20px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    background-color: transparent;
    border-color: #ffffff;
}

button.ignore {
    margin-top: -15px;
    background-color: rgb(45, 119, 255);
    border-radius: 25px 25px 0px 0px;
}

button.ignore:hover {
    background-color: rgb(21, 103, 255);
    border-radius: 10px 10px 0px 0px;

}

button.ignore {
    margin-top: -2px;
}

.leftsection {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-family: Comfortaa;
    user-select: none;
    -webkit-user-select: none;
}

input:focus {
    outline: none;
}

.container {
    margin-bottom: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 950px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(to right, #6900d1, #912cee);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.mt-4 {
    margin-top: 20px !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.fadeInUp {
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
    backface-visibility: hidden;
    opacity: 0;
    animation-name: fadeInUp;
}

.fadeInDown {
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
    backface-visibility: hidden;
    opacity: 0;
    animation-name: fadeInDown;
}

.line {
    position: relative;
    color: rgb(212, 212, 212);
    margin: 10px auto;
    border-right: 2px solid rgba(255, 255, 255, .75);

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.typewriter {
    animation: typewriter 2.5s steps(44) 0s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 30em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.alert-box {
    position: absolute;
    display: none;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px #9521f3, 0 0 10px #ae00ff, 0 0 15px #f704f7;
    background-color: #1a1a1aaf;
    opacity: 1;
    margin-left: calc(50% - 150px);
    margin-top: 0px;
    background-color: none;
    backdrop-filter: blur(6px);
    z-index: 3;
}

.alert-box-container {
    margin-top: 10px;
    margin-left: 12px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: inline-flex;
}

.alert-box-title {
    display: block;
    margin-top: 3px;
    margin-left: 6px;
    margin-block-end: 0px;
    color: rgb(197, 197, 197);
    font-size: 20px;
    font-family: Comfortaa;
}

.alert-box-exclamation {
    height: 25px;
    width: 25px;
    display: flex;
    filter: invert(12%) sepia(78%) saturate(4656%) hue-rotate(1deg) brightness(108%) contrast(128%);
}

.alert-box-cross {
    margin-top: 2px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    margin-left: calc(100% - 39px);
    user-select: none;
    -webkit-user-select: none;
}
.alert-box-cross:hover {
    filter: invert(21%) sepia(70%) saturate(3776%) hue-rotate(255deg) brightness(97%) contrast(101%);
}

.alert-box-divider {
    align-self: baseline;
    height: 0px;
    width: calc(100% - 14px);
    margin-top: 11%;
    margin-left: -100px;
}

.alert-box-message {
    color: rgb(197, 197, 197);
    align-self: flex-end;
    font-size: 13px;
    margin-block-end: 0;
    margin-block-start: 0;
    position: fixed;
    height: 45px;
    width: 275px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: Comfortaa;
    overflow-y: auto; /* TODO - Make the scroll speed slower */
    user-select: text;
    -webkit-user-select: text;
}
.alert-box-message::-webkit-scrollbar {
    display: none;
}