bg {
    background-color: #141414;

    background-image: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 90px;
    width: 330px;
    border: 4px solid rgba(29, 29, 29, 1);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(32, 32, 32, 1);
    text-align: center;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 6px 8px rgba(0, 0, 0, 0.11),
        0 8px 16px rgba(0, 0, 0, 0.11);
}

.text {
    position: absolute;
    bottom: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    left: 0;
    right: 0;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.library {
    filter: invert(100%) sepia(30%) saturate(48%) hue-rotate(243deg) brightness(111%) contrast(87%);
    transform: scale(1);
    transition-duration: 0.2s;

    display: block;
    transform: scale(1);
    transition-duration: 0.2s;
    filter: drop-shadow(3.4px 3.4px 2.7px rgba(0, 0, 0, 0.09),
            8.7px 8.7px 6.9px rgba(0, 0, 0, 0.062),
            17.7px 17.7px 14.2px rgba(0, 0, 0, 0.05),
            36.5px 36.5px 29.2px rgba(0, 0, 0, 0.04),
            100px 100px 80px rgba(0, 0, 0, 0.028));
}

.library:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;
}

.vl {
    margin-left: 20px;
    border-left: 1px solid white;
    height: 50px;
}

.steam {
    transform: scale(1);
    transition-duration: 0.2s;

    filter: drop-shadow(3.4px 3.4px 2.7px rgba(0, 0, 0, 0.09),
            8.7px 8.7px 6.9px rgba(0, 0, 0, 0.062),
            17.7px 17.7px 14.2px rgba(0, 0, 0, 0.05),
            36.5px 36.5px 29.2px rgba(0, 0, 0, 0.04),
            100px 100px 80px rgba(0, 0, 0, 0.028));
}

.steam:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;
}

.rockstar {
    display: block;
    transform: scale(1);
    transition-duration: 0.2s;
    filter: drop-shadow(3.4px 3.4px 2.7px rgba(0, 0, 0, 0.09),
            8.7px 8.7px 6.9px rgba(0, 0, 0, 0.062),
            17.7px 17.7px 14.2px rgba(0, 0, 0, 0.05),
            36.5px 36.5px 29.2px rgba(0, 0, 0, 0.04),
            100px 100px 80px rgba(0, 0, 0, 0.028));

}

.rockstar:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;
}

.epic-games {
    transform: scale(1);
    transition-duration: 0.2s;

    transition-duration: 0.2s;
    filter: drop-shadow(3.4px 3.4px 2.7px rgba(0, 0, 0, 0.09),
            8.7px 8.7px 6.9px rgba(0, 0, 0, 0.062),
            17.7px 17.7px 14.2px rgba(0, 0, 0, 0.05),
            36.5px 36.5px 29.2px rgba(0, 0, 0, 0.04),
            100px 100px 80px rgba(0, 0, 0, 0.028));
}

.epic-games:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

input,
button,
textarea,
:focus {
    outline: none;
}

